body {
	margin:0;
	font-family:"Arial", sans-serif;
	font-size:1.3em;
	background-color: #fffff7;
	color: #323232;
	
}

#header, #footer {
	background-color:#323232;
	color: #fffff7;
	padding:10px;
	text-align:center;
}

#profile, #textContent {
	display:inline-block;
}

#topContent {
	margin-top:10px;
	display:flex;
	justify-content:center;
}

#textContent {
	margin-left:10px;
}

#profile {
	height:100px;
	border-radius:25px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#content {
	margin:auto;
	max-width:750px;
	padding:10px;
}

#studentNavigation {
	text-align:center;
}

a {
	color: #d55b71;
}

a:hover {
	color: #85d3dc;
}

#formContainer {
	width:100%;
	max-width:750px;
}

.contactInput {
	margin-top:-20px;
	padding:10px;
	background-color:white;
	border:2px solid #323232;
}

#user_message {
	min-height: 250px;
	width:100%;
}

#submitContactButton {
	height:50px;
	width:100%;
	background-color:white;
	border:2px solid #323232;
	cursor:pointer;
}

#submitContactButton:hover {
	background-color: #323232;
	color:white;
	border:2px solid white;
}

#contact_form {
	display:flex;
	flex-direction:column;
}

.requiredEmphasis {
	color:#d55b71;
}

.errorMessage {
	color: #d55b71;
	font-size:0.8em;
}

#navButton {
	position:fixed;
	right:25px;
	bottom:25px;
	width:75px;
	height:75px;
	background-color:#323232;
	color:#fffff7;
	border-radius:25px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.50);
	z-index:10;
}

#navButtonPlus {
	font-size:75px;
	user-select:none;
}

#prevNextContainer {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.webringNav {
	text-decoration:none;
	font-size:30px;
}

#navPopup {
	position:fixed;
	right:25px;
	bottom:25px;
	background-color: #fffff7;
	padding:10px;
	display:none;
	flex-direction:column;
	color: #323232;
	box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.50);
	border-radius:25px;
	text-align:right;
	overflow:hidden;
	white-space:nowrap;
	opacity:0;
	z-index:11;
}

#title {
	text-decoration:none;
	color: #fffff7;
}

#title:hover {
	color:#d55b71;
}

.navPopupItem {
	padding:10px;
}

#clickChecker {
	background-color:black;
	position:fixed;
	bottom:0;
	top:0;
	right:0;
	left:0;
	z-index:1;
	opacity:0;
	display:none;
}

#closeMenuButton {
	text-decoration:underline;
	cursor:pointer;
}

ul {
	margin-top:-20px;
	padding:10px;
}

li {
	list-style-type:none;
}

li:before {
	content:"- "
}

#toolsContainer {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	text-align:left;
}

.projectLink, .projectDescription {
	margin-top:-10px;
}

.projectSection {
	margin-bottom:30px;
	display:flex;
	flex-direction:row;
	align-items:center;
}

#footer {
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.footerContent {
	margin-left:20px;
}

.footerContent:first-child {
	margin-left:0;
}

.appIcon {
	width:100px;
	height:100px;
	border-radius:25px;
	margin-right:20px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color:#323232;
		color: #fffff7;
	}
	
	#header, #footer {
		background-color: #fffff7;
		color: #323232;
	}
	
	#navButton {
		background-color: #fffff7;
		color: #323232;	
	}
	#title {
		color: #323232;
	}
}